<!DOCTYPE html>
<html lang="en">
<head>
  <% include partials/_header.ejs %>
</head>
<body>
  <h1>A List of URL's for your viewing pleasure</h1>
  <table>
    <thead>
      <tr>
        <th>Short</th>
        <th>Long</th>
      </tr>
    </thead>
  <tbody>
    <% for(let key in urls) { %>
      <tr>
      <td ><%= key %></td>
      <td ><a href="<%= urls[key].longURL %>"> <%=urls[key].longURL %></td></a>
      <td>

        <form method="POST" action="/urls/<%= key %>/delete">
          <input type="submit" value="Delete" />
        </form>
      </td>
      <td>
        <a href="/urls/<%= key %>">Edit</a>
<!--       <td>
        <form method="GET" action="/urls/<%= key %>">
          <input type="submit" value="Edit" />
      </td> -->
    <% } %>
  </td>
      </tr>
  </tbody>
</table>
</br>
<a href="/urls/new">Shorten your URL today!!</a>
</body>
</html>

